<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SuggestMetrics</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../static/style.css">
</head>


<body class="bg-gray-100">
  <!-- Top Bar -->
  <header class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <!-- Left: Logo + Navigation -->
        <div class="flex items-center space-x-8">
          <div class="text-xl font-bold text-blue-600">
            SuggestMetrics
          </div>

          <!-- Navigation Links -->
          <nav class="hidden md:flex space-x-6 text-gray-700">
              <a href="/suggestMetrics" class="hover:text-blue-600 transition">Home</a>
              <a href="/suggestMetrics/metricsExplained" class="hover:text-blue-600 transition">Metrics
                        Explained</a>
              <a href="/suggestMetrics/about" class="hover:text-blue-600 transition">About</a>
          </nav>
        </div>

        </div>
      </div>
    </div>
  </header>

<div class="team-section">
  <div class="team-member">
    <img src="../static/images/cong.jpeg" alt="Co-Creator">
    <h3>Cong Wang</h3>
      <p>Student ID: 201799740</p>
    <p>MSc Big Data and High Performance Computing.</p>
    <p>Full-Stack Developer</p>
  </div>
  <div class="team-member">
    <img src="../static/images/IMG_0147.jpg" alt="Co-Creator">
    <h3>Mitch Jones</h3>
      <p>Student ID: 201902635</p>
    <p>MSc Data Science and Artificial Intelligence.</p>
    <p>Full-Stack Developer</p>
  </div>
  <div class="team-member">
    <img src="../static/images/nathan.jpg" alt="Co-Creator">
    <h3>Nathan Donohue</h3>
      <p>Student ID: 201314207</p>
    <p>MSc Big Data and High Performance Computing.</p>
    <p>Full-Stack Developer</p>
  </div>

</div>

<div class="mt-[100px] bg-blue-100 text-blue-900 p-6 rounded-lg shadow">
  <h2 class="text-xl font-semibold mb-2">Our Goal</h2>
  <p>
    For our MSc project, we were tasked with creating an easy-to-use tool to aid machine learning (ML) practitioners
      in the accurate and justified selection of a performance metric for their specific task/use case. As ML systems are increasingly
      being integrated into critical decision-making processes worldwide, this tool is developed with a general audience in mind,
      allowing users from all domains and backgrounds to access valuable information. We hope that this tool can be used effectively
      as a reliable starting framework for legitimate metric selection.
  </p>
</div>


</body>
</html>