<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SuggestMetrics</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../static/style.css">
</head>


<body class="bg-gray-100">
  <!-- Top Bar -->
  <header class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <!-- Left: Logo + Navigation -->
        <div class="flex items-center space-x-8">
          <div class="text-xl font-bold text-blue-600">
            SuggestMetrics
          </div>

          <!-- Navigation Links -->
          <nav class="hidden md:flex space-x-6 text-gray-700">
              <a href="/suggestMetrics" class="hover:text-blue-600 transition">Home</a>
              <a href="/suggestMetrics/metricsExplained" class="hover:text-blue-600 transition">Metrics
                        Explained</a>
              <a href="/suggestMetrics/about" class="hover:text-blue-600 transition">About</a>
          </nav>
        </div>
      </div>
    </div>
  </header>

<div class="team-section">
  <div class="team-member">
    <img src="../static/images/CLASSIFICATION_FINAL.png" alt="">
    <h3><a href="/suggestMetrics/classificationExplained"><b>Classification</b></a></h3>
    <h2>Classification Explained:</h2>
    <p>Classification in Machine Learning is a supervised learning technique that is used to categorise
    data using pre-defined classes or labels. The model is trained using a dataset with known results,
    learning patterns/relationships between the input features and corresponding labels. Once trained, the
    model can then predict the class/label of the new data. Common examples of this include spam detection,
    image recognition and medical diagnosis. Algorithms like logistic regression, decision trees and neural
    networks are often used for classification tasks, but in our program we will be using both accuracy and
    F1-Score. Click <a href="/suggestMetrics/classificationExplained"><b>HERE</b></a> to see the decision tree in full
    with some explanations for each parameter.
    <br>
    <br>
    <br>
    <br>
    <br></p>
  </div>

  <div class="team-member">
    <img src="../static/images/MODEL_RELATION.png" alt="">
    <h3><a href="/suggestMetrics/regressionExplained"><b>Regression</b></a></h3>
    <h2>Regression Explained:</h2>
    <p>Regression in machine learning is a supervised machine learning technique that is used to predict a
    continuous numerical value based on input features. Unlike the aforementioned classification, which predicts
    categories, regression estimates quantities - such as prices, sales figures of even temperatures, for example.
    The model learns the relationships between input variables and a continuous output from labelled training data.
    Common examples of this include house price predictions, stock values of energy consumption. Popular algorithms
    used in regression include linear regression, decision trees and support vector regression. Regression is widely
    used in forecasting, trend analysis, and resource planning, helping businesses and researchers make informed,
    data-driven decisions based on quantitative predictions. Click
    <a href="/suggestMetrics/regressionExplained"><b>HERE</b></a> to see the decision tree in full with some explanations
    for each parameter.
    </p>
  </div>
</div>

</body>
</html>
