<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SuggestMetrics</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="style.css" />

  <style>
    .tooltip {
      position: relative;
      cursor: pointer;
    }

    .tooltip .tooltip-text {
      visibility: hidden;
      width: 400px;
      background-color: white;
      border: 2px solid royalblue;
      text-align: left;
      font-size: 14px;
      text-shadow: none;
      color: black;
      padding: 5px 8px;
      border-radius: 1px;

      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }

    .image-container {
      position: relative;
      display: inline-block;
    }

    .image-container img {
      width: 100%;
      height: auto;
    }
  </style>
</head>

<body class="bg-gray-100">
  <!-- Top Bar -->
  <header class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <!-- Left: Logo + Navigation -->
        <div class="flex items-center space-x-8">
          <div class="text-xl font-bold text-blue-600">
            SuggestMetrics
          </div>

          <!-- Navigation Links -->
            <nav class="hidden md:flex space-x-6 text-gray-700">
              <a href="/suggestMetrics" class="hover:text-blue-600 transition">Home</a>
              <a href="/suggestMetrics/metricsExplained" class="hover:text-blue-600 transition">Metrics
                        Explained</a>
              <a href="/suggestMetrics/about" class="hover:text-blue-600 transition">About</a>
            </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- Image + Tooltips -->
  <div class="image-container">
    <img src="../static/images/MODEL_RELATION.png" alt="Sample Image" />

    <!-- Tooltip for "What is the target variable(TV)?" -->
    <div class="absolute text-white text-2xl leading-tight" style="top: 10%; left: 41.5%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);">
      <p class="text-blue-500 tooltip">
        <b>[MR1]</b>
          <span class="tooltip-text">This question defines the <b>target</b> variable that the user is looking to understand. This information directly shapes metric choice as the nature of this data may suit one metric over the other. This also guides visualisation processes.</span>
      </p>
    </div>

    <!-- Tooltip for "Will it fit a polynomial function to capture curvature in the data?" -->
    <div class="absolute text-white text-2xl leading-tight" style="top: 20%; left: 39.5%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);">
      <p class="text-blue-500 tooltip">
        <b>[MR2]</b>
        <span class="tooltip-text">This question allows the system to understand what regression line/surface the user is expecting to fit to their data. The answer to this question guides the system to different queries and feature analyses.</span>
      </p>
    </div>

    <!-- Tooltip for "What are the predictor variables?" -->
    <div class="absolute text-white text-2xl leading-tight" style="top: 33.8%; left: 46.5%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);">
      <p class="text-blue-500 tooltip">
        <b>[MR3]</b>
        <span class="tooltip-text">This question fully defines the <b>feature space</b> for the model relation task. This allows the user to analyse exactly the predictors and targets that will be used in their model down the line.</span>
      </p>
    </div>

    <!-- Tooltip for "Subject per Predictor" formula -->
    <div class="absolute text-white text-2xl leading-tight" style="top: 60%; left: 10.5%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);">
      <p class="text-red-500 tooltip">
        <b>[MR4]</b>
          <span class="tooltip-text">In a multidimensional space, SPV relates to the ratio of instances (n) per predictor variable (p). <b>Overfitting</b> is very likely with a model trained on data that has an SPV of less than 10, making R squared an artificially high metric due to its monotonicity with respect to the inclusion of predictors. <a href="https://www.sciencedirect.com/science/article/pii/S0895435615000141" style="color:blue">Peter Austin, 2015</a></span>
      </p>
    </div>


    <!-- Tooltip for "Coefficient of Variation" formula -->
    <div class="absolute text-white text-2xl leading-tight" style="top: 60%; left: 29%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);">
      <p class="text-red-500 tooltip">
        <b>[MR5]</b>
          <span class="tooltip-text">This feature analyses the <b>variance</b> of the target variable, or the 'spread' about its mean. σ represents the standard deviation of the data, μ represents the mean of the data. Since MAE does not emphasise error as greatly as R squared does, a high variance will attribute to MAE, else R squared is suggested.</span>
      </p>
    </div>

    <!-- Tooltip for "Coefficient of Outlier Rate" formula -->
    <div class="absolute text-white text-2xl leading-tight" style="top: 56.8%; left: 44.5%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);">
      <p class="text-red-500 tooltip">
        <b>[MR6]</b>
          <span class="tooltip-text">Cook's distance identifies <b>influential data points</b> that disproportionally effect the fitted model, and can categorise these points as 'outliers'. eᵢ represents the residual for the i-th observation (difference between actual and predicted value).p represents the number of
        predictors in the model. s² represents mean squared error - an estimate of the variance of the residuals.hᵢᵢ represents the leverage value for the
        i-th observation (how much influence that point has). AS R squared penalises outliers more severely, once the percentage of outliers within the dataset reaches a great enough level, MAE is suggested over R squared as it is less sensitive to extreme values.<a href="https://www.sciencedirect.com/science/article/pii/S0378375802004949?casa_token=7ixb0bXCh7oAAAAA:_lFW-5WEB-O2s_ScbbqGrzjnpqeWrjkdJQm5ImT9AeDPuRp14GE87Mgc1T6FkNLumhownT86BWk" style="color:blue"> José Díaz García, 2004</a></span>
      </p>
    </div>


    <!-- Tooltip for "What is the highest degree polynomial term to be used in your model?"-->
    <div class="absolute text-white text-2xl leading-tight" style="top: 61%; left: 62%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);">
      <p class="text-blue-500 tooltip">
        <b>[MR7]</b>
          <span class="tooltip-text">This question details the highest degree polynomial term that the user is likely to use in their model. Higher degree polynomial terms are likely to lead to <b>overfitting</b>, artificially boosting R squared. In this case, MAE is suggested in order to reduce this risk.</span>
      </p>
    </div>


    <!-- Tooltip for "Condition Number (CN)" formula-->
    <div class="absolute text-white text-2xl leading-tight" style="top: 58.4%; left: 81.7%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);">
      <p class="text-red-500 tooltip">
        <b>[MR8]</b>
          <span class="tooltip-text">The condition number represents the <b>multicollinearity</b> of predictors in a multidimensional model. λₘₐₓ represents the largest eigenvalue of the dataset.λₘᵢₙ represents the smallest eigenvalue of the dataset. When two or more predictors are highly correlated, R squared can be a misleading metric as it can remain high despite individual regression coefficients being unreliable. In a case of high multicollinearity, MAE is suggested instead. <a href="https://synapse.koreamed.org/articles/1156320" style="color:blue">Jong Hae Kim, 2019</a></span>
      </p>
    </div>

  </div>

  <script>
    // Smart tooltip positioning to prevent overflow
    document.querySelectorAll('.tooltip').forEach(function(tooltip) {
      tooltip.addEventListener('mouseenter', function() {
        const tooltipText = tooltip.querySelector('.tooltip-text');
        tooltipText.style.left = '50%';
        tooltipText.style.transform = 'translateX(-50%)'; // reset defaults

        const rect = tooltipText.getBoundingClientRect();

        if (rect.right > window.innerWidth) {
          tooltipText.style.left = 'auto';
          tooltipText.style.right = '0';
          tooltipText.style.transform = 'none';
        }

        if (rect.left < 0) {
          tooltipText.style.left = '0';
          tooltipText.style.right = 'auto';
          tooltipText.style.transform = 'none';
        }
      });
    });
  </script>

</body>
</html>
